
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        meta(name='viewport', content='width=device-width')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        form
            .form-book
                label hello;
                input.name_book(name='name')
            .form-book
                label &Acy;&vcy;&tcy;&ocy;&rcy;
                input.author_book(name='author')
            .form-book
                label &Gcy;&ocy;&dcy;
                input.year_book(name='year')
            button.btn-edit-book.btn(type='submit') &Icy;&zcy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy;
            button.btn-delete.btn(type='submit') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
        input(type='button', value='Вернуться', onclick='location.href="http://localhost:3001"')
        // <button type="submit" class="btn-delete btn">Удалить</button>
        .info_book
        script
            include script_edit.js