doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        //link(rel='stylesheet' href='style_1.css')
        meta(name='viewport' content='width=device-width')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
    body
        form
            .form-book
                label Книга
                input.name_book(name='name')
            .form-book
                label Автор
                input.author_book(name='author')
            .form-book
                label Год
                input.year_book(name='year')
            button.btn-add-book.btn(type='submit') Добавить книгу
        p
        button.btn-given.btn(type='submit' style="margin-left:5px; margin-right:5px") Все выданные
        button.btn-available.btn(type='submit' style="margin-left:5px; margin-right:5px") Все доступные
        button.btn-all.btn(type='submit' style="margin-left:5px; margin-right:5px") Все
        // <div class = "books_all">
        table.table.table-condensed.table-bordered.table-red.table-hover
            thead
                tr
                    th Название книги
                    th Автор
                    th Год
                    th Наличие
                    th
            tbody
        script

            include script_homepage.js
